[Desktop Entry]
Categories=Education;
Exec=/usr/bin/xdg-open /usr/share/neuro/index.html
Terminal=false
Type=Application
StartupNotify=false
Name=Simulation Neuronaler Netze
GenericName=Simulation Neuronaler Netze
Keywords=education;ai;
Icon=ibus-engine
