body {
    padding: 10px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

hr {
    border-color: #f0f0f0;
    width: 95%;
}

input.control {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #f8f8f8;
    border-radius: 3pt;
    border-color: #d0d0d0;
    border-style: solid;
    padding: 2pt;
    text-align: center;
}

input.control:hover {
    background-color: #f0f0f0;
}

input.check {
    width: auto;
}

select.control {
    width: 100%;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #f8f8f8;
    border-radius: 3pt;
    border-color: #d0d0d0;
    border-style: solid;
    padding: 2pt;
}

select.control:hover {
    background-color: #f0f0f0;
}

div.control {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

table.control {
    width: 84%;
}

table.control th {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

table.control td {
    width: 12%;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
}

table.control td.player {
    text-align: center;
}

table.control td.data-out {
    text-align: center;
}

canvas.board {
    padding: 10px;
}

div.train-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

button.control {
    width: 100%;
    max-width: 200px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #e0e0e0;
    border-radius: 3pt;
    border-color: #808080;
    border-style: solid;
    padding: 2pt;
}

button.control:hover {
    background-color: #c0c0c0;
}

div.boards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

div.output {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

div.legal {
    font-size: .8em;
}
