[Unit]
Description=Install flatpak packages and Calliope Rennspiel for DASI
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/dasi-update
