[Unit]
Description=Install flatpak packages for DASI
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/dasi-callioperennspiel-update
User=1000
Group=1000
